# Ignore git and VCS
.git
.gitignore

# Local virtual envs and python caches
.venv
__pycache__
*.pyc
*.pyo

# OS files
.DS_Store

# IDE files
.vscode
.idea

# Tests (not needed in runtime image)
tests/

# Build artifacts
build/
dist/
*.egg-info/

# Ignore local data files
poem.txt
